<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.proj.dao.MemberTestDao">
  <insert id="memberjoin" parameterType="com.proj.dto.MembrTestDto">
  
  	insert into Join_MEMBER (memberName, memberId, memberPw, memberMail, memberAddr1, memberPhone) values
  	(#{memberName}, #{memberId}, #{memberPw}, #{memberMail}, #{memberAddr1}, #{memberPhone})
  </insert>
  
  
  </mapper>	