<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.proj.MemManager">

	<!-- BBS 글목록 태그 -->
   <select id="memBoardList" resultType="com.example.demo.MemBean">
      select * from Join_MEMBER order by memberPhone desc  
   </select>
   
   <!-- BBS 글저장 태그 -->
   <insert id="memBoardWrite" parameterType="com.example.demo.MemBean">
      insert into Join_MEMBER (memberName, memberId, memberPw, memberMail, memberAddr1, memberPhone)
      values ( #{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6})
   </insert>
   
   <!-- BBS 글 삭제 -->
   <delete id="memBoardDelete">
      delete from Join_MEMBER where memberPhone= #{memberPhone}
   </delete>
	

</mapper>