<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.dao.ProductPageDao">

	
    <select id="getWineByName" parameterType="String" resultType="com.proj.dto.ProductPageDto">
       SELECT A.wineKrName, A.wineEgName,
(SELECT typeName FROM projectDB.typeOfWine WHERE IDX = A.typeOfWine ) AS TYPEOFWINE,
(SELECT nationName FROM projectDB.nation WHERE IDX = A.nation) AS NATION,
A.region,
(SELECT grapeName From projectDB.grape WHERE IDX = A.grape)AS GRAPE ,
A.price,A.alcohol,A.sweetness,A.acidity,A.body,A.goodsImg,A.recipe,A.goodsInfo,A.createTM,
C.foodName
FROM projectDB.wineListTest A
LEFT OUTER JOIN projectDB.wineFood B ON A.num = B.wineIdx
INNER JOIN  projectDB.food C ON B.foodIdx = C.idx
where wineKrName = #{wineKrName}
    </select>
 
    
  

</mapper>
  