<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.proj.dao.WineDao">
  <select id="daoWineList" resultType="com.proj.dto.WineDto">
    SELECT 
	(SELECT BRANDNAME FROM projectDB.brand WHERE IDX = A.brand) AS BRAND,
    A.wineKind, A.wineKrName, A.wineEnName,
    (SELECT countryname FROM projectDB.country WHERE IDX = A.country) AS country,
    (SELECT grapename FROM projectDB.grape WHERE IDX = A.GRAPE) AS grape,
    A.price,A.img, A.createTM,
    C.foodName
    FROM projectDB.wine A 
	LEFT OUTER JOIN projectDB.wineFood B ON A.idx = B.wineIdx 
    INNER JOIN  projectDB.food C ON B.foodIdx = C.idx 
  </select>
  <select id=""></select>
  </mapper>	